Repository parqaman/Learning-Corner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-frontend-job, install-backend-job, lint-frontend-job, lint-backend-job, build-frontend-job, build-backend-job, test-frontend-job, test-backend-job

install-frontend-job:
  stage: install
  script:
  - cd ./frontend
  - npm ci --cache .npm --prefer-offline
  cache:
    key:
      files:
      - package-lock.json
    paths:
    - .npm/

install-backend-job:
  stage: install
  script:
  - cd ./backend
  - npm ci --cache .npm --prefer-offline
  cache:
    key:
      files:
      - package-lock.json
    paths:
    - .npm/

lint-frontend-job:
  stage: lint
  script:
  - cd ./frontend
  - npm run lint
  cache:
    paths:
    - frontend/node_modules/

lint-backend-job:
  stage: lint
  script:
  - cd ./backend
  - npm run lint
  cache:
    paths:
    - backend/node_modules/

build-frontend-job:
  stage: build
  script:
  - cd ./frontend
  - npm run build
  cache:
    paths:
    - frontend/node_modules/

build-backend-job:
  stage: build
  script:
  - cd ./backend
  - npm run build
  cache:
    paths:
    - backend/node_modules/

test-frontend-job:
  stage: test
  script:
  - cd ./frontend
  - npm run test:ci
  cache:
    paths:
    - frontend/node_modules/
  artifacts:
    when: always
    reports:
      junit:
      - test-results.xml

test-backend-job:
  stage: test
  script:
  - cd ./backend
  - npm run test:ci
  cache:
    paths:
    - backend/node_modules/
  artifacts:
    when: always
    reports:
      junit:
      - test-results.xml

added test for ResetPasswordPage
  frontend/src/pages/NewCoursePage.test.tsx
  frontend/src/pages/NewCoursePage.tsx
  frontend/src/pages/ResetPasswordPage.test.tsx
  frontend/src/pages/ResetPasswordPage.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

added test for SearchPage
  frontend/src/pages/SearchPage.test.tsx
  frontend/src/pages/SearchPage.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

added test 2 for NewCoursePage test
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/NewCoursePage.test.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

added test 2 for ResetPasswordPage
  frontend/src/pages/ResetPasswordPage.test.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

fixed bugs in test
  frontend/src/pages/NewCoursePage.tsx
  frontend/src/pages/SearchPage.test.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

removed debug()
  frontend/src/pages/MyCoursesPage.test.tsx
  frontend/src/pages/ProfilePage.test.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

merging collab-document branch into mail-notif/backend
  .gitlab-ci.yml
  backend/.prettierrc.json
  backend/package-lock.json
  backend/package.json
  backend/src/controller/auth.controller.ts
  backend/src/controller/course.controller.ts
  backend/src/controller/group.controller.ts
  backend/src/controller/upload.controller.ts
  backend/src/controller/user.controller.ts
  backend/src/entities/Answer.ts
  backend/src/entities/BaseEntity.ts
  backend/src/entities/Course.ts
  backend/src/entities/File.ts
  backend/src/entities/Group.ts
  backend/src/entities/LearnerInCourse.ts
  backend/src/entities/LearnerInGroup.ts
  backend/src/entities/Message.ts
  backend/src/entities/Question.ts
  backend/src/entities/Quiz.ts
  backend/src/entities/Section.ts
  backend/src/entities/User.ts
  backend/src/entities/index.ts
  backend/src/helpers/file.helper.ts
  backend/src/index.ts
  backend/src/middleware/auth.middleware.ts
  backend/src/middleware/file.middleware.ts
  backend/src/mikro-orm.config.ts
  backend/src/seeders/TestSeeder.ts
  backend/tslint.json
  package-lock.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

added jest junit
  frontend/package-lock.json
  frontend/package.json
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

updated test path for ci
  .gitlab-ci.yml
  frontend/package.json
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

changing back to .xml file
  .gitlab-ci.yml
Due: none

fixed link path
  backend/test/auth.controller.test.ts
  backend/test/course.controller.test.ts
  backend/test/group.controller.test.ts
  backend/test/user.controller.test.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

fixed error on updating course
  frontend/src/pages/CourseDetailPage.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

fixed bug in sendMail()
  backend/src/controller/upload.controller.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

fixed bug in course section
  frontend/src/components/course_components/CourseSectionList.tsx
  frontend/src/pages/GroupDetailPage.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

fixed bug when adding a course with the same name
  frontend/src/pages/NewCoursePage.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

CI-Test test
  .gitlab-ci.yml
  backend/package-lock.json
  backend/package.json
  backend/src/mikro-orm.config.ts
  backend/test/auth.controller.test.ts
  backend/test/course.controller.test.ts
  backend/test/group.controller.test.ts
  backend/test/user.controller.test.ts
  docker-compose.yml
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

CI-Test test
  backend/src/mikro-orm.config.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

CI-Test test
  backend/package.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

Korrektur: Ausführen der Tests
  README.md
Due: none

small changes on docker
  Dockerfile
  docker-compose.yml
Due: none

updated collab document
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

updated text editor
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  frontend/src/pages/GroupDetailPage.tsx
Due: install-frontend-job, install-backend-job, lint-frontend-job, lint-backend-job, build-frontend-job, build-backend-job, test-frontend-job, test-backend-job

fixed wrong link
  backend/test/course.controller.test.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

added mail notification in readme
  README.md
  frontend/readme.MD
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

anmerkung zu ci pipline
  README.md
  package-lock.json
Due: none

small updated
  backend/src/mikro-orm.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: install-frontend-job, install-backend-job, lint-frontend-job, lint-backend-job, build-frontend-job, build-backend-job, test-frontend-job, test-backend-job

added public folder
  backend/public/assets/index-4bc42c72.css
  backend/public/assets/index-c3548e2f.js
  backend/public/index.html
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

removed @esbuild/win32-x64
  frontend/package-lock.json
  frontend/package.json
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

Update mikro-orm.config.ts
  backend/src/mikro-orm.config.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

added a minimal vercel.json
  backend/vercel.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

minor change in vercel.json
  backend/vercel.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

added cors module
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

updated cors config
  backend/src/index.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

changed 'send' to 'json'
  backend/src/controller/auth.controller.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

updated vercel.json
  backend/vercel.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

updated base url
  frontend/src/providers/AuthProvider.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

small updated in vercel.json
  backend/vercel.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

updated provider
  frontend/src/providers/AuthProvider.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

typo on provider
  frontend/src/providers/AuthProvider.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

Path conditions:
  install-frontend-job: any of: frontend/**/*
  install-backend-job: any of: backend/**/*
  lint-frontend-job: any of: frontend/**/*
  lint-backend-job: any of: backend/**/*
  build-frontend-job: any of: frontend/**/*
  build-backend-job: any of: backend/**/*
  test-frontend-job: any of: frontend/**/*
  test-backend-job: any of: backend/**/*
