Repository parqaman/Learning-Corner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-frontend-job, install-backend-job, lint-frontend-job, lint-backend-job, build-frontend-job, build-backend-job, test-frontend-job, test-backend-job

.gitlab-ci.yml:

image: node:latest
stages:
  - install
  - lint
  - build
  - test

install-frontend-job:
  stage: install
  script:
    - cd ./frontend
    - npm install
  cache:
    paths:
      - frontend/node_modules/
  rules:
    - changes:
        - frontend/**/*

install-backend-job:
  stage: install
  script:
    - cd ./backend
    - npm run lint
  cache:
    paths:
      - backend/node_modules/
  rules:
    - changes:
        - backend/**/*

lint-frontend-job:
  stage: lint
  script:
    - cd ./frontend
    - npm run lint
  rules:
    - changes:
        - frontend/**/*

lint-backend-job:
  stage: lint
  script:
    - cd ./backend
    - npm run lint
  rules:
    - changes:
        - backend/**/*

build-frontend-job:
  stage: build
  script:
    - cd ./frontend
    - npm run build
  rules:
    - changes:
        - frontend/**/*

build-backend-job:
  stage: build
  script:
    - cd ./backend
    - npm run build
  rules:
    - changes:
        - backend/**/*

test-frontend-job:
  stage: test
  script:
    - cd ./frontend
    - npm run test:ci
  rules:
    - changes:
        - frontend/**/*
  artifacts:
    when: always
    reports:
      junit:
        - test-results.xml

test-backend-job:
  stage: test
  script:
    - cd ./backend
    - npm run test:ci
  rules:
    - changes:
        - backend/**/*
  artifacts:
    when: always
    reports:
      junit:
        - test-results.xml

Test linting and node_module cache
  .gitlab-ci.yml
Due: none

fix install stage
  .gitlab-ci.yml
Due: none

fix install stage
  backend/package.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

fix tslint backend
  backend/package.json
  backend/tslint.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

fixed si-cache
  .gitlab-ci.yml
  backend/package-lock.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

fix ci-cache
  .gitlab-ci.yml
Due: none

Set CI to false to ignore linter errors
  .gitlab-ci.yml
Due: none

edit out linting for test-purposes
  .gitlab-ci.yml
Due: none

implemented collaborative text editor (not yet persisted)
  backend/src/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/AppRoutes.tsx
  frontend/src/main.tsx
  frontend/src/pages/GroupDetailPage.tsx
  frontend/src/pages/TextEditor.tsx
  frontend/src/text-editor-styles.css
Due: install-frontend-job, install-backend-job, lint-frontend-job, lint-backend-job, build-frontend-job, build-backend-job, test-frontend-job, test-backend-job

test
  .gitlab-ci.yml
Due: none

ci-cache test
  .gitlab-ci.yml
Due: none

added Document Entity
  backend/src/entities/Document.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

changed icon
  frontend/src/pages/GroupDetailPage.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

implemented login / register page test
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/pages/RegisterPage.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

configured socket server for collaborative document
  backend/src/entities/Document.ts
  backend/src/entities/index.ts
  backend/src/index.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

fixed logic for deleting courses/groups
  backend/src/controller/course.controller.ts
  backend/src/controller/group.controller.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

fixed bug when saving the document
  backend/src/entities/Document.ts
  backend/src/index.ts
  backend/src/mikro-orm.config.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

finished implementing collab document
  backend/src/index.ts
  backend/test/mockupData.ts
  frontend/src/pages/GroupDetailPage.tsx
  frontend/src/pages/TextEditor.tsx
Due: install-frontend-job, install-backend-job, lint-frontend-job, lint-backend-job, build-frontend-job, build-backend-job, test-frontend-job, test-backend-job

changed document icon in frontend
  frontend/src/pages/GroupDetailPage.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

fixed linting problem in backend
  backend/package.json
  backend/src/controller/auth.controller.ts
  backend/src/controller/course.controller.ts
  backend/src/controller/group.controller.ts
  backend/src/controller/upload.controller.ts
  backend/src/controller/user.controller.ts
  backend/src/entities/Answer.ts
  backend/src/entities/BaseEntity.ts
  backend/src/entities/Course.ts
  backend/src/entities/File.ts
  backend/src/entities/Group.ts
  backend/src/entities/LearnerInCourse.ts
  backend/src/entities/LearnerInGroup.ts
  backend/src/entities/Message.ts
  backend/src/entities/Question.ts
  backend/src/entities/Quiz.ts
  backend/src/entities/Section.ts
  backend/src/entities/User.ts
  backend/src/entities/index.ts
  backend/src/helpers/file.helper.ts
  backend/src/index.ts
  backend/src/middleware/auth.middleware.ts
  backend/src/middleware/file.middleware.ts
  backend/src/mikro-orm.config.ts
  backend/src/seeders/TestSeeder.ts
  backend/tslint.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

set back script
  backend/package.json
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

implemented email push notif
  backend/package-lock.json
  backend/package.json
  backend/src/controller/upload.controller.ts
  backend/src/index.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

Minimized pipeline, removed caching
  .gitlab-ci.yml
Due: none

moved function call
  backend/src/controller/upload.controller.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

Added HomePage Test not working jest error
  frontend/jest.config.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/adapter/api/useApiClient.ts
  frontend/src/pages/HomePage.test.tsx
  frontend/tsconfig.json
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

Added fixed HomePage test
  frontend/jest.config.json
  frontend/package.json
  frontend/src/pages/HomePage.test.tsx
  frontend/tsconfig.json
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

Dockerized
  .dockerignore
  Dockerfile
  backend/package.json
  backend/src/index.ts
  backend/src/mikro-orm.config.ts
  backend/upload/tmp/profile_empty.png
  docker-compose.yml
  frontend/vite.config.ts
Due: install-frontend-job, install-backend-job, lint-frontend-job, lint-backend-job, build-frontend-job, build-backend-job, test-frontend-job, test-backend-job

Added CourseList, FavoriteCourseList and ProfilePage Jest tests
  frontend/src/components/course_components/CourseList.test.tsx
  frontend/src/components/course_components/CourseList.tsx
  frontend/src/components/course_components/FavoriteCourseList.test.tsx
  frontend/src/components/course_components/FavoriteCourseList.tsx
  frontend/src/pages/HomePage.test.tsx
  frontend/src/pages/ProfilePage.test.tsx
  frontend/src/pages/ProfilePage.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

implemented frontend test for coursedetailpage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/CourseDetailPage.test.tsx
  frontend/src/pages/CourseDetailPage.tsx
  frontend/tslint.json
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

implemented frontend test for MyCoursesPage
  frontend/src/components/course_components/CourseCard.tsx
  frontend/src/components/course_components/CourseList.tsx
  frontend/src/pages/MyCoursesPage.test.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

Renamed app-service
  docker-compose.yml
Due: none

Added readme and generated api docs
  README.md
  api_docs/.openapi-generator-ignore
  api_docs/.openapi-generator/FILES
  api_docs/.openapi-generator/VERSION
  api_docs/Apis/DefaultApi.md
  api_docs/Models/Course.md
  api_docs/Models/File.md
  api_docs/Models/Group.md
  api_docs/Models/LearnerInCourse.md
  api_docs/Models/LearnerInGroup.md
  api_docs/Models/Message.md
  api_docs/Models/Quiz.md
  api_docs/Models/QuizQuestion.md
  api_docs/Models/QuizQuestionAnswer.md
  api_docs/Models/Section.md
  api_docs/Models/User.md
  api_docs/Models/get_users_id_404_response.md
  api_docs/Models/post_auth_login_200_response.md
  api_docs/Models/post_auth_login_request.md
  api_docs/Models/post_auth_register_request.md
  api_docs/Models/post_courses_409_response.md
  api_docs/Models/put_auth_resetpassword_request.md
  api_docs/Models/put_users_id_400_response.md
  api_docs/README.md
  openapitools.json
Due: none

updated seeder's mail
  backend/src/seeders/TestSeeder.ts
Due: install-backend-job, lint-backend-job, build-backend-job, test-backend-job

added test for NewCoursePage
  frontend/package.json
  frontend/src/pages/NewCoursePage.test.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job

fixed bug in NewCoursePage test
  frontend/src/pages/NewCoursePage.test.tsx
  frontend/src/pages/NewCoursePage.tsx
Due: install-frontend-job, lint-frontend-job, build-frontend-job, test-frontend-job
